.main.grid
  .blank-space#section_3
  %h2.title Styleguide Palette
  %p.main.paragraph This is the primary and secondary colour palettes as described in the PSD styleguide

.main.grid
  .title-components.main Grey Palette

  - grey_palette = { '$ligth-grey' => ['#f1f1f1', 'black'], '$mid-grey' => ['#d5d5d5','black'], '$aux-grey' => ['#888', 'white'], '$dark-grey' => ['#3e3e3e', 'white'] }

  - grey_palette.each do | key, color |
    .color-card
      .color-block{ style: "background-color: #{color[0]}; color: #{color[1]}" }
        %span= color[0]
      %p.color-variable= key

  .grid.main
  .title-components.main Primary Palette
  - primary_palette = { '$steelblue' => ['#5791bd', 'white'], '$ming' => ['#53c595', 'white'] }

  - primary_palette.each do | key, color |
    .color-card
      .color-block{ style: "background-color: #{color[0]}; color: #{color[1]}" }
        %span= color[0]
      %p.color-variable= key

  .grid.main
  .title-components.main Secondary Palette
  - secondary_palette = { '$koromiko' => ['#ffc06b', 'white'], '$atomic' => ['#ff956b', 'white'], '$downriver' => ['#0d3756', 'white'] }

  - secondary_palette.each do | key, color |
    .color-card
      .color-block{ style: "background-color: #{color[0]}; color: #{color[1]}" }
        %span= color[0]
      %p.color-variable= key
