%header.header
  .grid
    .logo.col-2= link_to image_tag('psique/documentation/logo.png'), root_path

    %ul.menu.col-10
      %li.menu-item= link_to 'Components', '#'
      %li.menu-item= link_to 'Javascript', '#'
      %li.menu-item= link_to 'Documentation', '#'
      %li.menu-item= link_to 'Other', '#'
