!!!
%html
  %head
    %title Styleguide - #{ @page_title }
    = stylesheet_link_tag 'psique/documentation', media: 'all'
    =javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
    = javascript_include_tag 'psique/documentation'
    = csrf_meta_tags
  %body
    = render 'psique/documentation/shared/header'
    = yield
